.sub_gig {
  font-size: 2.5rem;
}

.sub_lg {
  font-size: 1.875rem;
}

.sub_mi {
  font-size: 1.5625rem;
}

.sub_nix {
  font-size: 1.125rem;
}

.sub_nom {
  font-size: 1.25rem;
}

.sub_som {
  font-size: 1.375rem;
}

.sub_defult {
  font-size: 1rem;
}

.s_visual01 {
  background: url("/img/sub_visual.jpg") no-repeat center/cover;
  width: 100%;
  height: 500px;
}

#sub_cate {
  display: flex;
  align-items: center;
  height: 100px;
}
#sub_cate .inner {
  display: flex;
  align-items: center;
}
#sub_cate ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#sub_cate li {
  width: auto;
  margin: 0 10px;
  text-align: center;
}
#sub_cate li.home {
  width: auto;
  margin: 0 5px 0 0;
}
#sub_cate li.home img {
  vertical-align: top;
}
#sub_cate li.arrow {
  position: relative;
  width: 15px;
}
#sub_cate li.arrow:after {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
}

#all .flex_box {
  display: flex;
  margin: 0 0 100px 0;
  position: relative;
}
#all .flex_box .tab_box {
  width: 300px;
  margin: 0 5% 0 0;
}
#all .flex_box .tab_box ul li {
  transition: all 0.5s ease-in-out;
}
#all .flex_box .tab_box ul li.sub {
  padding: 15px 40px;
}
#all .flex_box .tab_box ul li:hover {
  background: #5AA515;
}
#all .flex_box .tab_box ul li:hover a {
  color: #fff;
}
#all .flex_box .tab_box ul li i {
  position: relative;
}
#all .flex_box .tab_box .pc_show {
  display: block;
}
#all .flex_box .tab_box .pc_show #menu-button {
  position: relative;
}
#all .flex_box .tab_box .pc_show #menu-button i {
  display: none;
}
#all .flex_box .tab_box .pc_show a.title {
  background: #5AA515;
  color: #fff;
  padding: 50px 25px;
  text-align: center;
  border-bottom: 1px solid #707070;
  font-weight: 600;
}
#all .flex_box .tab_box .pc_show li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 63px;
  border-bottom: 1px solid #707070;
  background: #fff;
  /* vertical line */
  /* horizontal line */
}
#all .flex_box .tab_box .pc_show li.sub {
  padding: 0 20px 0 30px;
}
#all .flex_box .tab_box .pc_show li.sub a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#all .flex_box .tab_box .pc_show li a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#all .flex_box .tab_box .pc_show li a:hover i:before {
  transform: rotate(90deg);
}
#all .flex_box .tab_box .pc_show li a:hover i:after {
  transform: rotate(180deg);
}
#all .flex_box .tab_box .pc_show li i {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 9%;
}
#all .flex_box .tab_box .pc_show li i:before, #all .flex_box .tab_box .pc_show li i:after {
  content: "";
  position: absolute;
  background-color: #9D9D9D;
  transition: transform 0.25s ease-out;
}
#all .flex_box .tab_box .pc_show li i:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
#all .flex_box .tab_box .pc_show li i:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
#all .flex_box .tab_box .pc_show li i:hover {
  cursor: pointer;
}
#all .flex_box .tab_box .pc_show li.on {
  background: #041f5a;
}
#all .flex_box .tab_box .pc_show li.on a {
  color: #fff;
}
#all .flex_box .tab_box .pc_show li.line a {
  border-bottom: 1px solid #000;
}
#all .flex_box .tab_box .pc_show li.active {
  background: rgba(90, 165, 21, 0.7);
}
#all .flex_box .tab_box .pc_show li.active a {
  color: #fff;
  line-height: 1.2;
  font-weight: 600;
  display: inline-block;
}
#all .flex_box .tab_box .m_show {
  display: none;
}
#all .flex_box > .txt {
  width: 82%;
  margin: 0 auto;
}
#all .flex_box > .txt .title {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #707070;
  text-align: center;
  padding: 0 0 30px 0;
}
#all .flex_box > .txt .title h3 {
  margin: 0 0 10px 0;
}
#all .flex_box > .txt > p {
  margin: 0 0 30px 0;
  color: #000;
  font-weight: 500;
  line-height: 1.8;
}

.about_01 .t_box {
  background: url("/img/about_txt.jpg") no-repeat center/cover;
  width: 100%;
  height: 118px;
  padding: 10px;
}
.about_01 .t_box b {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  text-align: center;
}
.about_01 .img {
  overflow: hidden;
  margin: 30px 0 0;
}
.about_01 .img figure {
  margin: 0 0 30px 0;
}
.about_01 .img ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_01 .img ul li {
  margin: 30px 30px 0 0;
}
.about_01 .img ul li:last-child {
  margin: 30px 0 0 0;
}
.about_01 .sm_txt {
  margin: 100px 0 0;
}
.about_01 .sm_txt ol li {
  text-align: left;
  margin: 0 0 30px 0;
}
.about_01 .sm_txt ol li .box {
  display: flex;
  align-items: center;
}
.about_01 .sm_txt ol li i {
  min-width: 44px;
  width: 44px;
  height: 35px;
}
.about_01 .sm_txt ol li .tit {
  margin: 0 0 0 30px;
}
.about_01 .sm_txt ol li .tit h3 {
  color: #188185;
}
.about_01 .sm_txt ol li .tit p {
  color: #08383A;
}

.facility_01 .title {
  border-bottom: 0 !important;
}
.facility_01 .tab_area {
  width: 70%;
  margin: 0 auto 30px;
}
.facility_01 .tab_box01, .facility_01 .tab_box02 {
  display: flex;
  align-items: center;
}
.facility_01 .tab_box01 ul, .facility_01 .tab_box02 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.facility_01 .tab_box01 ul li, .facility_01 .tab_box02 ul li {
  color: #343434;
  height: 70px;
  line-height: 70px;
  text-align: center;
  flex: 1 1 20%;
}
.facility_01 .tab_box01 ul li a.active, .facility_01 .tab_box02 ul li a.active {
  font-weight: 800;
}
.facility_01 .tab_box01 p, .facility_01 .tab_box02 p {
  font-weight: 600;
  height: 70px;
  width: 12%;
  color: #188185;
  border-right: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facility_01 .tab_box01 li {
  border-right: 1px solid #707070;
}
.facility_01 .tab_box01 li:nth-child(3), .facility_01 .tab_box01 li:nth-child(4) {
  border: 0;
}
.facility_01 .tab_box02 {
  border-top: 1px solid #707070;
}
.facility_01 .tab_box02 li {
  border-right: 1px solid #707070;
}
.facility_01 .img {
  border-top: 5px solid #5AA515;
}
.facility_01 .img li {
  margin: 30px 0 0;
}

.parking01 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.parking01 .img ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.parking01 .img ul li {
  flex: 1 1 35%;
}
.parking01 .img ul li:first-child {
  margin: 0 5px 5px 0;
}
.parking01 .img ul li:nth-child(2) {
  margin: 0 0 5px 0;
}

.process_02 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.process_02 .cont_in {
  margin: 50px 0 0;
}
.process_02 .cont_in.first {
  margin: 100px 0 50px;
}
.process_02 .cont_in.last {
  margin: 50px 0 100px;
}
.process_02 .cont_in ul {
  margin: 20px 0 0;
}
.process_02 .cont_in li {
  display: flex;
  align-items: flex-start;
  color: #9D9D9D;
  line-height: 2;
}
.process_02 .cont_in li.in {
  margin: 0 0 0 10px;
}
.process_02 .cont_in li span {
  width: 100%;
}
.process_02 .cont_in li span:first-child {
  width: 15px;
}
.process_02 .top {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
}
.process_02 .top figure {
  display: flex;
  align-items: center;
}
.process_02 .top figure b {
  margin: 0 0 0 20px;
  font-weight: 600 !important;
}
.process_02 .sub_som {
  display: flex;
  align-items: center;
}
.process_02 .sub_som > span {
  color: #188185;
  font-weight: 600;
}
.process_02 .sub_som .num {
  width: 75px;
  height: 75px;
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 100%;
  border: 6px solid #5AA515;
  color: #000;
  margin: 0 20px 0 0;
}

.process_03 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.process_03 .tab_area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process_03 .tab_area .tab-button {
  width: 130px;
  height: 130px;
  min-width: 130px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 6%;
}
.process_03 .tab-content {
  display: none;
  padding: 10px;
}
.process_03 .tab-content.active {
  display: block;
}
.process_03 .tab01 {
  background: #ECF0F1;
}
.process_03 .tab01.active {
  background: #188185;
}
.process_03 .tab01.active i {
  background: url("/img/budae_icon01_on.png") no-repeat center/45px 40px;
}
.process_03 .tab01.active b {
  color: #fff;
}
.process_03 .tab01 i {
  background: url("/img/budae_icon01.png") no-repeat center/45px 40px;
  display: block;
  width: 45px;
  height: 40px;
}
.process_03 .tab01 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab02 {
  background: #ECF0F1;
}
.process_03 .tab02.active {
  background: #188185;
}
.process_03 .tab02.active i {
  background: url("/img/budae_icon02_on.png") no-repeat center/43px 46px;
}
.process_03 .tab02.active b {
  color: #fff;
}
.process_03 .tab02 i {
  background: url("/img/budae_icon02.png") no-repeat center/43px 46px;
  display: block;
  width: 43px;
  height: 46px;
}
.process_03 .tab02 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab03 {
  background: #ECF0F1;
}
.process_03 .tab03.active {
  background: #188185;
}
.process_03 .tab03.active i {
  background: url("/img/budae_icon03_on.png") no-repeat center/46px 42px;
}
.process_03 .tab03.active b {
  color: #fff;
}
.process_03 .tab03 i {
  background: url("/img/budae_icon03.png") no-repeat center/46px 42px;
  display: block;
  width: 46px;
  height: 42px;
}
.process_03 .tab03 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab04 {
  background: #ECF0F1;
}
.process_03 .tab04.active {
  background: #188185;
}
.process_03 .tab04.active i {
  background: url("/img/budae_icon04_on.png") no-repeat center/44px 31px;
}
.process_03 .tab04.active b {
  color: #fff;
}
.process_03 .tab04 i {
  background: url("/img/budae_icon04.png") no-repeat center/44px 31px;
  display: block;
  width: 43px;
  height: 31px;
}
.process_03 .tab04 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 #tab1 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab1 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab1 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab1 .cont_in ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.process_03 #tab1 .cont_in ul li {
  flex: 1 1 30%;
  margin: 0 20px 20px 0;
}
.process_03 #tab1 .cont_in ul li:nth-of-type(3n) {
  margin: 0 0 20px 0;
}
.process_03 #tab2 .sub_title h4 {
  color: #08383A;
  margin: 0 0 15px 0;
}
.process_03 #tab2 table {
  width: 100%;
  text-align: center;
}
.process_03 #tab2 table thead {
  border-top: 1px solid #188185;
  border-bottom: 1px solid #188185;
}
.process_03 #tab2 table thead th {
  padding: 10px 0;
  color: #08383A;
}
.process_03 #tab2 table tbody td {
  padding: 10px 0;
  color: #08383A;
  border-bottom: 1px solid #D5D5D5;
}
.process_03 #tab2 table tbody td.bg {
  background: rgba(90, 165, 21, 0.5);
  width: 50%;
}
.process_03 #tab2 .con_in {
  margin: 30px 0 0;
}
.process_03 #tab2 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab2 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab2 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab3 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab3 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab3 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab4 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab4 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab4 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}

.contact_01 .flex_box > .txt .title {
  margin: 0 !important;
  border-bottom: 0 !important;
}
.contact_01 .form_area {
  border-top: 5px solid #5AA515;
}
.contact_01 .form_area li {
  display: flex;
  border-bottom: 1px solid #D8D8D8;
}
.contact_01 .form_area li:last-child {
  border-bottom: 0;
}
.contact_01 .form_area li .tit {
  width: 15%;
  min-width: 200px;
  background: rgba(157, 157, 157, 0.1);
  padding: 20px 5% 20px 5%;
}
.contact_01 .form_area li .tit span {
  font-weight: 600;
  color: #343434;
}
.contact_01 .form_area li .tit span b {
  color: #FF0000;
}
.contact_01 .form_area li .place {
  width: 85%;
}
.contact_01 .form_area li .place input {
  width: 98%;
  height: 38px;
  padding: 5px 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 15px;
  border: 1px solid #ddd;
  font-size: 1rem;
}
.contact_01 .form_area li .place input ::-moz-placeholder {
  color: #eee;
}
.contact_01 .form_area li .place input ::placeholder {
  color: #eee;
}
.contact_01 .form_area li .place input.zipcode {
  width: auto;
  margin: 15px 0 15px 15px;
}
.contact_01 .form_area li .place textarea {
  width: 98%;
  height: 38px;
  padding: 5px 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 15px;
  border: 1px solid #ddd;
  font-size: 1rem;
  resize: none;
  height: 300px;
}
.contact_01 .form_area li .place .secrch_btn {
  border: 0;
  background: rgba(112, 112, 112, 0.6);
  color: #fff;
  width: 80px;
  height: 40px;
}
.contact_01 .form_area .btn {
  text-align: center;
  margin: 30px 0;
}
.contact_01 .form_area .btn button {
  color: #fff;
  border: 0;
  padding: 20px;
}
.contact_01 .form_area .btn button:first-child {
  background: #08383A;
  margin: 0 10px 0 0;
}
.contact_01 .form_area .btn button:last-child {
  background: #188185;
}

@media (max-width: 1920px) {
  .inner {
    max-width: 1540px;
    margin: 0 auto;
  }
  .s_visual01 {
    height: 300px;
  }
}
@media (max-width: 1360px) {
  .about_01 .t_box {
    height: 170px;
  }
  .process_03 .tab_area .tab-button {
    margin: 0 2%;
  }
}
@media (max-width: 1280px) {
  .facility_01 .tab_area {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #all .flex_box {
    flex-direction: column;
  }
  #all .flex_box .tab_box {
    width: 100%;
    margin: 0 0 50px 0;
  }
  #all .flex_box .tab_box .pc_show a.title {
    text-align: left;
    padding: 20px;
  }
  #all .flex_box .tab_box .pc_show li {
    padding: 20px 50px;
  }
  #all .flex_box .tab_box .pc_show li i {
    display: none;
  }
  #all .flex_box .tab_box .pc_show #submenu {
    display: none;
  }
  #all .flex_box .tab_box .pc_show #submenu.on {
    display: block;
  }
  #all .flex_box .tab_box .pc_show #menu-button {
    position: relative;
    /* vertical line */
    /* horizontal line */
  }
  #all .flex_box .tab_box .pc_show #menu-button.on i {
    transition: transform 0.25s ease-out;
  }
  #all .flex_box .tab_box .pc_show #menu-button.on i::before {
    opacity: 0;
    visibility: hidden;
  }
  #all .flex_box .tab_box .pc_show #menu-button i {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #all .flex_box .tab_box .pc_show #menu-button i:before, #all .flex_box .tab_box .pc_show #menu-button i:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform 0.25s ease-out;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:hover {
    cursor: pointer;
  }
  .contact_01 .flex_box > .txt {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .sub_lg {
    font-size: 1.375rem;
  }
  .sub_gig {
    font-size: 2rem;
  }
  #all .flex_box > .txt {
    width: 100%;
  }
  .about_01 .t_box {
    height: auto;
  }
  .about_01 .t_box b {
    padding: 20px;
  }
  .about_01 .t_box b .none {
    display: none;
  }
  .parking01 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .process_02 .top figure {
    width: 50px;
  }
  .process_02 .cont_in.first {
    margin: 50px 0;
  }
  .process_02 .cont_in.last {
    margin: 50px 0;
  }
  .process_02 .sub_som .num {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border: 4px solid #5AA515;
  }
  .process_03 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .process_03 .tab_area {
    flex-wrap: wrap;
  }
  .process_03 .tab_area .tab-button {
    width: 110px;
    height: 110px;
    min-width: 110px;
    margin: 0 2% 2%;
  }
  .process_03 #tab1 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab2 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab3 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab4 .cont_in {
    margin: 50px 0 0;
  }
  .contact_01 .form_area li .place input.zipcode {
    width: 200px;
  }
}
@media (max-width: 640px) {
  .about_01 .sm_txt {
    margin: 50px 0 0;
  }
  .about_01 .sm_txt ol li .box {
    flex-direction: column;
  }
  .about_01 .sm_txt ol li i {
    margin: 0 0 20px 0;
  }
  .about_01 .sm_txt ol li .tit {
    text-align: center;
    margin: 0;
  }
  .contact_01 .form_area li {
    flex-direction: column;
  }
  .contact_01 .form_area li .tit {
    width: 100%;
    padding: 15px 5%;
  }
  .contact_01 .form_area li .place {
    width: 100%;
  }
  .contact_01 .form_area li .place input {
    margin: 15px 0;
    width: 100%;
  }
  .contact_01 .form_area li .place input.zipcode {
    margin: 15px 0;
  }
  .contact_01 .form_area li .place textarea {
    width: 100%;
    margin: 15px 0;
    height: 150px;
  }
}
@media (max-width: 540px) {
  .about_01 .img ul {
    flex-direction: column;
  }
  .about_01 .img ul li {
    margin: 30px 0 30px 0;
  }
  .about_01 .img ul li:last-child {
    margin: 0 0;
  }
  .facility_01 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .facility_01 .tab_box01, .facility_01 .tab_box02 {
    flex-direction: column;
  }
  .facility_01 .tab_box01 p, .facility_01 .tab_box02 p {
    width: 100%;
    justify-content: start;
    border-right: 0;
    border-bottom: 1px solid #707070;
  }
  .facility_01 .tab_box01 li:nth-child(2) {
    border-right: 0;
  }
  .facility_01 .tab_box01 li:nth-child(3), .facility_01 .tab_box01 li:nth-child(4) {
    display: none;
  }
  .facility_01 .tab_box02 li {
    flex: 1 1 40% !important;
  }
  .facility_01 .tab_box02 li:nth-of-type(2n) {
    border-right: 0;
  }
  .facility_01 .tab_box02 li:nth-child(3), .facility_01 .tab_box02 li:nth-child(4) {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }
  .parking01 .img ul {
    flex-direction: column;
  }
  .parking01 .img ul li:first-child {
    margin: 0 0 5px 0;
  }
  .process_03 #tab1 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab2 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab3 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab4 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .contact_01 .form_area .btn button {
    display: block;
    margin: 0 auto;
  }
  .contact_01 .form_area .btn button:first-child {
    margin: 0 auto 10px;
  }
}
@media (max-width: 480px) {
  .process_03 #tab1 .cont_in ul li {
    flex: 1 1 55%;
    margin: 0 0 20px 0;
  }
  .process_03 #tab1 .cont_in ul li:last-child {
    margin: 0;
  }
}/*# sourceMappingURL=sub.css.map */