.sub_gig {
  font-size: 2.5rem;
}

.sub_shot {
  font-size: 2.1875rem;
}

.sub_lg {
  font-size: 1.875rem;
}

.sub_mi {
  font-size: 1.5625rem;
}

.sub_nix {
  font-size: 1.125rem;
}

.sub_nom {
  font-size: 1.25rem;
}

.sub_som {
  font-size: 1.375rem;
}

.sub_defult {
  font-size: 1rem;
}

.m_tab_area {
  display: none;
}

.s_visual01 {
  background: url("../image/sub_visual.png") no-repeat center/cover;
  width: 100%;
  height: 500px;
}

#sub_cate {
  display: flex;
  align-items: center;
  height: 100px;
}
#sub_cate .inner {
  display: flex;
  align-items: center;
}
#sub_cate ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#sub_cate li {
  width: auto;
  margin: 0 10px;
  text-align: center;
}
#sub_cate li.home {
  width: auto;
  margin: 0 5px 0 0;
}
#sub_cate li.home img {
  vertical-align: top;
}
#sub_cate li.arrow {
  position: relative;
  width: 15px;
}
#sub_cate li.arrow:after {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
}

#all .flex_box {
  display: flex;
  margin: 0 0 100px 0;
  position: relative;
}
#all .flex_box .tab_box {
  width: 300px;
  margin: 0 5% 0 0;
}
#all .flex_box .tab_box ul li {
  transition: all 0.5s ease-in-out;
}
#all .flex_box .tab_box ul li.sub {
  padding: 15px 40px;
}
#all .flex_box .tab_box ul li:hover {
  background: #5AA515;
}
#all .flex_box .tab_box ul li:hover a {
  color: #fff;
}
#all .flex_box .tab_box ul li i {
  position: relative;
}
#all .flex_box .tab_box .pc_show {
  display: block;
}
#all .flex_box .tab_box .pc_show #menu-button {
  position: relative;
}
#all .flex_box .tab_box .pc_show #menu-button i {
  display: none;
}
#all .flex_box .tab_box .pc_show a.title {
  background: #5AA515;
  color: #fff;
  padding: 50px 25px;
  text-align: center;
  border-bottom: 1px solid #707070;
  font-weight: 600;
}
#all .flex_box .tab_box .pc_show li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 63px;
  border-bottom: 1px solid #707070;
  background: #fff;
  /* vertical line */
  /* horizontal line */
}
#all .flex_box .tab_box .pc_show li.sub {
  padding: 0 20px 0 30px;
}
#all .flex_box .tab_box .pc_show li.sub a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#all .flex_box .tab_box .pc_show li a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#all .flex_box .tab_box .pc_show li a:hover i:before {
  transform: rotate(90deg);
}
#all .flex_box .tab_box .pc_show li a:hover i:after {
  transform: rotate(180deg);
}
#all .flex_box .tab_box .pc_show li i {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 9%;
}
#all .flex_box .tab_box .pc_show li i:before, #all .flex_box .tab_box .pc_show li i:after {
  content: "";
  position: absolute;
  background-color: #9D9D9D;
  transition: transform 0.25s ease-out;
}
#all .flex_box .tab_box .pc_show li i:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
#all .flex_box .tab_box .pc_show li i:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
#all .flex_box .tab_box .pc_show li i:hover {
  cursor: pointer;
}
#all .flex_box .tab_box .pc_show li.on {
  background: #041f5a;
}
#all .flex_box .tab_box .pc_show li.on a {
  color: #fff;
}
#all .flex_box .tab_box .pc_show li.line a {
  border-bottom: 1px solid #000;
}
#all .flex_box .tab_box .pc_show li.active {
  background: rgba(90, 165, 21, 0.7);
}
#all .flex_box .tab_box .pc_show li.active a {
  color: #fff;
  line-height: 1.2;
  font-weight: 600;
  display: inline-block;
}
#all .flex_box .tab_box .m_show {
  display: none;
}
#all .flex_box > .txt {
  width: 82%;
  margin: 0 auto;
}
#all .flex_box > .txt .title {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #707070;
  text-align: center;
  padding: 0 0 30px 0;
}
#all .flex_box > .txt .title h3 {
  margin: 0 0 10px 0;
}
#all .flex_box > .txt > p {
  margin: 0 0 30px 0;
  color: #000;
  font-weight: 500;
  line-height: 1.8;
}

.about_01 .t_box {
  background: url("../image/about_txt.jpg") no-repeat center/cover;
  width: 100%;
  height: 118px;
  padding: 10px;
}
.about_01 .t_box b {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  text-align: center;
}
.about_01 .img {
  overflow: hidden;
  margin: 30px 0 0;
}
.about_01 .img figure {
  margin: 0 0 30px 0;
}
.about_01 .img ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 0;
}
.about_01 .img ul li {
  margin: 0px 30px 30px 0;
  flex: 1 1 35%;
}
.about_01 .img ul li:nth-of-type(2n) {
  margin: 0px 0 30px 0;
}
.about_01 .sm_txt {
  margin: 80px 0 0;
}
.about_01 .sm_txt ol li {
  text-align: left;
  margin: 0 0 30px 0;
}
.about_01 .sm_txt ol li .box {
  display: flex;
  align-items: center;
}
.about_01 .sm_txt ol li i {
  min-width: 44px;
  width: 44px;
  height: 35px;
}
.about_01 .sm_txt ol li .tit {
  margin: 0 0 0 30px;
}
.about_01 .sm_txt ol li .tit h3 {
  color: #188185;
}
.about_01 .sm_txt ol li .tit p {
  color: #08383A;
}

.facility_01 .title {
  border-bottom: 0 !important;
}
.facility_01 .tab_area {
  width: 70%;
  margin: 0 auto 30px;
}
.facility_01 .tab_box01, .facility_01 .tab_box02 {
  display: flex;
  align-items: center;
}
.facility_01 .tab_box01 ul, .facility_01 .tab_box02 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.facility_01 .tab_box01 ul li, .facility_01 .tab_box02 ul li {
  color: #343434;
  height: 70px;
  line-height: 70px;
  text-align: center;
  flex: 1 1 20%;
}
.facility_01 .tab_box01 ul li a.active, .facility_01 .tab_box02 ul li a.active {
  font-weight: 800;
}
.facility_01 .tab_box01 p, .facility_01 .tab_box02 p {
  font-weight: 600;
  height: 70px;
  width: 12%;
  color: #188185;
  border-right: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facility_01 .tab_box01 li {
  border-right: 1px solid #707070;
}
.facility_01 .tab_box01 li:nth-child(3), .facility_01 .tab_box01 li:nth-child(4) {
  border: 0;
}
.facility_01 .tab_box02 {
  border-top: 1px solid #707070;
}
.facility_01 .tab_box02 li {
  border-right: 1px solid #707070;
}
.facility_01 .img {
  border-top: 5px solid #5AA515;
}
.facility_01 .img li {
  margin: 30px 0 0;
}

.parking01 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.parking01 .img p {
  margin: 0 0 5px 0;
}
.parking01 .img ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.parking01 .img ul li {
  flex: 1 1 35%;
}
.parking01 .img ul li:first-child {
  margin: 0 5px 5px 0;
}
.parking01 .img ul li:nth-child(2) {
  margin: 0 0 5px 0;
}

.process_02 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.process_02 .cont_in {
  margin: 50px 0 0;
}
.process_02 .cont_in.first {
  margin: 100px 0 50px;
}
.process_02 .cont_in.last {
  margin: 50px 0 100px;
}
.process_02 .cont_in ul {
  margin: 20px 0 0;
}
.process_02 .cont_in li {
  display: flex;
  align-items: flex-start;
  color: #9D9D9D;
  line-height: 2;
}
.process_02 .cont_in li.in {
  margin: 0 0 0 10px;
}
.process_02 .cont_in li span {
  width: 100%;
}
.process_02 .cont_in li span:first-child {
  width: 15px;
}
.process_02 .top {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
}
.process_02 .top figure {
  display: flex;
  align-items: center;
}
.process_02 .top figure b {
  margin: 0 0 0 20px;
  font-weight: 600 !important;
}
.process_02 .sub_som {
  display: flex;
  align-items: center;
}
.process_02 .sub_som > span {
  color: #188185;
  font-weight: 600;
}
.process_02 .sub_som .num {
  width: 75px;
  height: 75px;
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 100%;
  border: 6px solid #5AA515;
  color: #000;
  margin: 0 20px 0 0;
}

.process_03 .flex_box > .txt .title {
  border-bottom: 0 !important;
}
.process_03 .tab_area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process_03 .tab_area .tab-button {
  width: 130px;
  height: 130px;
  min-width: 130px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 6%;
}
.process_03 .tab-content {
  display: none;
  padding: 10px;
}
.process_03 .tab-content.active {
  display: block;
}
.process_03 .tab01 {
  background: #ECF0F1;
}
.process_03 .tab01.active {
  background: #188185;
}
.process_03 .tab01.active i {
  background: url("../image/budae_icon01_on.png") no-repeat center/45px 40px;
}
.process_03 .tab01.active b {
  color: #fff;
}
.process_03 .tab01 i {
  background: url("../image/budae_icon01.png") no-repeat center/45px 40px;
  display: block;
  width: 45px;
  height: 40px;
}
.process_03 .tab01 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab02 {
  background: #ECF0F1;
}
.process_03 .tab02.active {
  background: #188185;
}
.process_03 .tab02.active i {
  background: url("../image/budae_icon02_on.png") no-repeat center/43px 46px;
}
.process_03 .tab02.active b {
  color: #fff;
}
.process_03 .tab02 i {
  background: url("../image/budae_icon02.png") no-repeat center/43px 46px;
  display: block;
  width: 43px;
  height: 46px;
}
.process_03 .tab02 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab03 {
  background: #ECF0F1;
}
.process_03 .tab03.active {
  background: #188185;
}
.process_03 .tab03.active i {
  background: url("../image/budae_icon03_on.png") no-repeat center/46px 42px;
}
.process_03 .tab03.active b {
  color: #fff;
}
.process_03 .tab03 i {
  background: url("../image/budae_icon03.png") no-repeat center/46px 42px;
  display: block;
  width: 46px;
  height: 42px;
}
.process_03 .tab03 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 .tab04 {
  background: #ECF0F1;
}
.process_03 .tab04.active {
  background: #188185;
}
.process_03 .tab04.active i {
  background: url("../image/budae_icon04_on.png") no-repeat center/44px 31px;
}
.process_03 .tab04.active b {
  color: #fff;
}
.process_03 .tab04 i {
  background: url("../image/budae_icon04.png") no-repeat center/44px 31px;
  display: block;
  width: 43px;
  height: 31px;
}
.process_03 .tab04 b {
  margin: 0 0 15px 0;
  color: #08383A;
}
.process_03 #tab1 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab1 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab1 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab1 .cont_in ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.process_03 #tab1 .cont_in ul li {
  flex: 1 1 30%;
  margin: 0 20px 20px 0;
}
.process_03 #tab1 .cont_in ul li:nth-of-type(3n) {
  margin: 0 0 20px 0;
}
.process_03 #tab2 .sub_title h4 {
  color: #08383A;
  margin: 0 0 15px 0;
}
.process_03 #tab2 table {
  width: 100%;
  text-align: center;
}
.process_03 #tab2 table thead {
  border-top: 1px solid #188185;
  border-bottom: 1px solid #188185;
}
.process_03 #tab2 table thead th {
  padding: 10px 0;
  color: #08383A;
}
.process_03 #tab2 table tbody td {
  padding: 10px 0;
  color: #08383A;
  border-bottom: 1px solid #D5D5D5;
}
.process_03 #tab2 table tbody td.bg {
  background: rgba(90, 165, 21, 0.5);
  width: 50%;
}
.process_03 #tab2 .con_in {
  margin: 30px 0 0;
}
.process_03 #tab2 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab2 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab2 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab3 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab3 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab3 .cont_in figure.last {
  margin: 50px 0 0 !important;
}
.process_03 #tab3 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}
.process_03 #tab4 .cont_in {
  margin: 100px 0 0;
}
.process_03 #tab4 .cont_in .top_title {
  padding: 0 0 15px 0;
  border-bottom: 5px solid #5AA515;
  margin: 0 0 50px 0;
}
.process_03 #tab4 .cont_in p {
  font-weight: 600;
  color: #9D9D9D;
  margin: 5px 0 0;
}

.contact_01 .flex_box > .txt .title {
  margin: 0 !important;
  border-bottom: 0 !important;
}
.contact_01 .form_area {
  border-top: 5px solid #5AA515;
}
.contact_01 .form_area li {
  display: flex;
  border-bottom: 1px solid #D8D8D8;
}
.contact_01 .form_area li:last-child {
  border-bottom: 0;
}
.contact_01 .form_area li.agree_box .place {
  display: flex;
  align-items: center;
}
.contact_01 .form_area li .tit {
  width: 20%;
  min-width: 230px;
  background: rgba(157, 157, 157, 0.1);
  padding: 20px 5% 20px 5%;
}
.contact_01 .form_area li .tit span {
  font-weight: 600;
  color: #343434;
}
.contact_01 .form_area li .tit span b {
  color: #FF0000;
}
.contact_01 .form_area li .place {
  width: 85%;
}
.contact_01 .form_area li .place input {
  width: 98%;
  height: 38px;
  padding: 5px 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 15px;
  border: 1px solid #ddd;
  font-size: 1rem;
}
.contact_01 .form_area li .place input ::-moz-placeholder {
  color: #eee;
}
.contact_01 .form_area li .place input ::placeholder {
  color: #eee;
}
.contact_01 .form_area li .place input.check {
  width: 20px;
  margin: 0 10px;
}
.contact_01 .form_area li .place input.zipcode {
  width: auto;
  margin: 15px 0 15px 15px;
}
.contact_01 .form_area li .place textarea {
  width: 98%;
  height: 38px;
  padding: 5px 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 15px;
  border: 1px solid #ddd;
  font-size: 1rem;
  resize: none;
  height: 300px;
}
.contact_01 .form_area li .place .secrch_btn {
  border: 0;
  background: rgba(112, 112, 112, 0.6);
  color: #fff;
  width: 80px;
  height: 40px;
}
.contact_01 .form_area .btn {
  text-align: center;
  margin: 30px 0;
}
.contact_01 .form_area .btn button {
  color: #fff;
  border: 0;
  padding: 20px;
}
.contact_01 .form_area .btn button:first-child {
  background: #08383A;
  margin: 0 10px 0 0;
}
.contact_01 .form_area .btn button:last-child {
  background: #188185;
}

.dashboard_01 .flex_box > .txt .title {
  border: 0 !important;
  padding: 0 !important;
}

.location_01 .flex_box > .txt .title {
  border: 0 !important;
  padding: 0 !important;
}
.location_01 .map_area .root_daum_roughmap_landing {
  width: 100% !important;
}
.location_01 .map_area .root_daum_roughmap_landing .wrap_map {
  height: 450px !important;
}
.location_01 .ad_area ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.location_01 .ad_area ul li {
  flex: 1 1 30%;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  background: #F5F5F5;
  justify-content: center;
  color: #08383A;
  position: relative;
}
.location_01 .ad_area ul li:nth-child(2):after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #ddd;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.location_01 .ad_area ul li.active {
  background: #188185;
  color: #fff;
}
.location_01 .ad_area ul li.active div {
  padding: 50px 0;
}
.location_01 .ad_area ul li:last-child div {
  padding: 35px 0;
}
.location_01 .ad_area ul li i {
  display: block;
}
.location_01 .ad_area ul li a {
  color: #08383A;
}
.location_01 .ad_area ul li > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.location_01 .trafic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px 0 0;
}
.location_01 .trafic figure {
  width: 45%;
}
.location_01 .trafic .box {
  display: flex;
  width: 50%;
  position: relative;
  padding: 0 15px;
}
.location_01 .trafic .box.b02 {
  padding: 0 0 0 6%;
}
.location_01 .trafic .box.b03 {
  justify-content: center;
}
.location_01 .trafic .box:last-child:after {
  display: none;
}
.location_01 .trafic .box:after {
  content: "";
  display: flex;
  width: 1px;
  height: 200px;
  background: #ddd;
  position: absolute;
  top: 0;
  right: 0;
}
.location_01 .trafic .box i {
  margin: 10px 10px 0 0;
  min-width: 30px;
}
.location_01 .trafic .box .top {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}
.location_01 .trafic .box .d_txt {
  color: #08383A;
  margin: 0 10px 0 0;
  font-weight: 600;
}
.location_01 .trafic .box .d_txt .table {
  text-align: center;
  margin: 20px 0;
}
.location_01 .trafic .box .d_txt .table thead th {
  background: #75B3B5;
  color: #08383A;
  width: 10%;
  border-right: 1px solid #08383A;
  padding: 5px 0;
}
.location_01 .trafic .box .d_txt .table thead th.last {
  border-right: 0;
}
.location_01 .trafic .box .d_txt .table tbody td {
  color: #08383A;
  border-right: 1px solid #08383A;
  border-bottom: 1px solid #08383A;
  padding: 5px 0;
}
.location_01 .trafic .box .d_txt .table tbody td.last {
  border-right: 0;
}
.location_01 .trafic .box .d_txt p.flx {
  display: flex;
}
.location_01 .trafic .box .d_txt p.flx:first-child {
  margin: 0 0 20px 0;
}
.location_01 .trafic .box .d_txt p.mar2 {
  margin: 0 0 20px 0;
}
.location_01 .trafic .box span {
  color: #08383A;
  font-weight: 600;
  margin: 0 10px 0 0;
}
.location_01 .trafic .box span.done {
  width: 170px;
}
.location_01 .trafic .box span.done2 {
  width: 100%;
}
.location_01 .trafic .box span:last-child {
  margin: 0;
}
.location_01 .trafic .box b {
  background: #188185;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
}

.process_01 .dep01 {
  margin: 100px 10%;
}
.process_01 .dep01 li {
  border: 5px solid #188185;
  border-radius: 40px;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  padding: 20px 70px;
}
.process_01 .dep01 li:last-child {
  margin: 0;
}
.process_01 .dep01 .num {
  color: #185D60;
  font-weight: 600;
  width: 60px;
  text-align: center;
  position: relative;
  margin: 0 50px 0 0;
}
.process_01 .dep01 .num:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #185D60;
  opacity: 0.3;
}
.process_01 .dep01 .txt {
  color: #08383A;
  width: 100%;
  font-weight: 600;
}
.process_01 .dep02 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0;
}
.process_01 .dep02 li {
  width: 30%;
  text-align: center;
}
.process_01 .dep02 li.arrow {
  width: 10%;
  margin: 0 10px;
}
.process_01 .dep02 li i {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #188185;
  border-radius: 50px 50px 0 0;
  padding: 20px;
}
.process_01 .dep02 li i b {
  color: #fff;
  margin: 0 0 0 10px;
}
.process_01 .dep02 li p {
  padding: 30px 30px 0;
  background: #F6F6F6;
  font-weight: 600;
  border-radius: 0 0 50px 50px;
  height: 100px;
}
.process_01 .dep03 {
  margin: 100px 0;
  overflow: hidden;
}
.process_01 .dep03 .month {
  margin: 50px 0 0;
}
.process_01 .dep03 .title {
  position: relative;
  border: 0 !important;
  margin: 0 auto !important;
  padding: 0 0 10px 0 !important;
}
.process_01 .dep03 .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  transform: translate(-50%);
  height: 5px;
  background: #5AA515;
  border: 0;
}
.process_01 .dep03 .month .onbox {
  display: flex;
  align-items: start;
  position: relative;
}
.process_01 .dep03 .month .onbox.on01 .right {
  margin: 30px 0 30px 50px;
}
.process_01 .dep03 .month .onbox.on02 {
  margin: 50px 0 0;
}
.process_01 .dep03 .month .onbox.on02 .right {
  margin: 30px 0 30px 50px;
}
.process_01 .dep03 .month .onbox.on02 .top {
  margin: 20px 0;
}
.process_01 .dep03 .month .onbox.on02 .left:after {
  height: 100vh;
}
.process_01 .dep03 .month .onbox.on03 {
  margin: 50px 0 0;
}
.process_01 .dep03 .month .onbox.on03 .top {
  margin: 20px 0;
}
.process_01 .dep03 .month .onbox.on03 .cet {
  margin: 0 0 10px 0;
}
.process_01 .dep03 .month .onbox.on03 .right {
  margin: 30px 0 30px 50px;
}
.process_01 .dep03 .month .onbox.on04 {
  margin: 100px 0;
}
.process_01 .dep03 .month .onbox.on04 .left {
  margin: 110px 0 0;
}
.process_01 .dep03 .month .onbox.on04 .title {
  margin: 0 auto 50px !important;
}
.process_01 .dep03 .month .onbox.on04 .top {
  margin: 20px 0;
}
.process_01 .dep03 .month .onbox.on05 {
  margin: 100px 0 0;
}
.process_01 .dep03 .month .onbox.on05 .right .c_top {
  margin: 100px 0 15px;
}
.process_01 .dep03 .month .onbox.on05 .right .c_bottom {
  margin: 0 0 70px 0;
}
.process_01 .dep03 .month .onbox.on05 .left {
  margin: 110px 0 0;
}
.process_01 .dep03 .month .onbox.on05 .title {
  margin: 0 auto 50px !important;
}
.process_01 .dep03 .month .onbox.on05 .top {
  margin: 20px 0;
}
.process_01 .dep03 .month .onbox.on06 .right {
  margin: 35px 0 0px 50px;
}
.process_01 .dep03 .month .onbox.on06 .left:after {
  display: none;
}
.process_01 .dep03 .month .onbox strong {
  display: block;
  color: #188185;
  margin: 0 0 15px 0;
}
.process_01 .dep03 .month .onbox p {
  color: #9D9D9D;
  display: flex;
}
.process_01 .dep03 .month .onbox p span {
  width: 100%;
}
.process_01 .dep03 .month .onbox p span:first-child {
  width: 20px;
}
.process_01 .dep03 .month .onbox .left {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border: 5px solid #5AA515;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
}
.process_01 .dep03 .month .onbox .left:after {
  content: "";
  display: block;
  width: 3px;
  height: 100vh;
  background: #5AA515;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
.process_01 .dep03 .month .onbox .left b {
  color: #5AA515;
  position: relative;
  padding: 0 0 10px 0;
  display: block;
  width: 70%;
  text-align: center;
  margin: 0 0 10px 0;
}
.process_01 .dep03 .month .onbox .left b::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #5AA515;
  content: "";
  height: 1px;
}
.process_01 .dep03 .month .onbox .left p {
  color: #000;
}
.process_01 .dep03 .month .onbox .right {
  width: 80%;
  margin: 0 0 0 50px;
}

.board_01 .flex_box > .txt .title {
  border: 0 !important;
  padding: 0 !important;
}

.service_01 .flex_box > .txt .title {
  border-bottom: 5px solid #5AA515 !important;
}
.service_01 .table_area {
  margin: 50px 100px;
}
.service_01 .table_area .top {
  margin: 0 0 20px 0;
}
.service_01 .table_area p {
  text-align: left;
  margin: 0 0 5px 0;
  font-size: 1.25rem;
}
.service_01 .table_area h3 {
  color: #188185;
  display: flex;
}
.service_01 .table_area h3 span {
  margin: 0 0 0 30px;
}
.service_01 .table_area table {
  width: 100%;
  text-align: center;
}
.service_01 .table_area table th {
  background: #75B3B5;
  color: #08383A;
  padding: 10px 0;
  border-right: 1px solid #08383A;
}
.service_01 .table_area table th:last-child {
  border-right: 0;
}
.service_01 .table_area table th.allone {
  width: 20%;
}
.service_01 .table_area table td {
  color: #08383A;
  padding: 10px 0;
  border-bottom: 1px solid #08383A;
  border-right: 1px solid #08383A;
}
.service_01 .table_area table td.last {
  border-bottom: 0;
}
.service_01 .table_area table td.last2 {
  border-right: 0;
}

@media (max-width: 1920px) {
  .s_visual01 {
    height: 300px;
  }
}
@media (max-width: 1600px) {
  .location_01 .trafic .box {
    flex: 1 1 50%;
    margin: 0 0 50px 0;
    justify-content: start;
  }
  .location_01 .trafic .box:last-child {
    margin: 0;
  }
  .location_01 .trafic .box:nth-child(2):after {
    display: none;
  }
}
@media (max-width: 1360px) {
  .about_01 .t_box {
    height: 170px;
  }
  .process_03 .tab_area .tab-button {
    margin: 0 2%;
  }
}
@media (max-width: 1280px) {
  .facility_01 .tab_area {
    width: 100%;
  }
  .process_01 .dep01 {
    margin: 50px 0;
  }
  .process_01 .dep02 ul {
    margin: 50px 0 0;
  }
  .process_01 .dep02 ul li {
    width: 65%;
  }
  .process_01 .dep02 ul li p {
    padding: 20px 30px;
  }
  .service_01 .table_area {
    margin: 50px 0;
  }
}
@media (max-width: 1114px) {
  .process_01 .dep02 ul {
    flex-direction: column;
  }
  .process_01 .dep02 ul li.arrow {
    transform: rotate(90deg);
    width: auto;
    margin: 15px 0;
  }
}
@media (max-width: 1024px) {
  #all .flex_box {
    flex-direction: column;
    margin: 70px 0 100px 0;
  }
  #all .flex_box .tab_box {
    width: 100%;
    margin: 0 0 50px 0;
    display: none;
  }
  #all .flex_box .tab_box .pc_show a.title {
    text-align: left;
    padding: 20px;
  }
  #all .flex_box .tab_box .pc_show li {
    padding: 20px 50px;
    flex: 1 1 40%;
    border-right: 1px solid #ddd;
  }
  #all .flex_box .tab_box .pc_show li:nth-of-type(2n) {
    border-right: 0;
  }
  #all .flex_box .tab_box .pc_show li:last-child {
    border-right: 0;
  }
  #all .flex_box .tab_box .pc_show li i {
    display: none;
  }
  #all .flex_box .tab_box .pc_show #submenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #all .flex_box .tab_box .pc_show #menu-button {
    position: relative;
    /* vertical line */
    /* horizontal line */
  }
  #all .flex_box .tab_box .pc_show #menu-button.on i {
    transition: transform 0.25s ease-out;
  }
  #all .flex_box .tab_box .pc_show #menu-button.on i::before {
    opacity: 0;
    visibility: hidden;
  }
  #all .flex_box .tab_box .pc_show #menu-button i {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #all .flex_box .tab_box .pc_show #menu-button i:before, #all .flex_box .tab_box .pc_show #menu-button i:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform 0.25s ease-out;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
  #all .flex_box .tab_box .pc_show #menu-button i:hover {
    cursor: pointer;
  }
  .contact_01 .flex_box > .txt {
    width: 100% !important;
  }
  .dashboard_01 .flex_box > .txt {
    width: 100% !important;
  }
  .location_01 .trafic .box .d_txt {
    text-align: left;
  }
  .location_01 .trafic .box .d_txt p br {
    display: none;
  }
  .location_01 .flex_box > .txt {
    width: 100% !important;
  }
  .location_01 .map_area .root_daum_roughmap_landing .wrap_map {
    height: 300px !important;
  }
  .location_01 .ad_area ul {
    flex-direction: column-reverse;
  }
  .location_01 .ad_area ul li {
    width: 100%;
  }
  .location_01 .ad_area ul li:nth-child(2):after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 0;
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .about_01 .sm_txt {
    margin: 50px 0 0;
  }
}
@media (max-width: 768px) {
  .m_tab_area {
    display: block;
  }
  .sub_lg {
    font-size: 1.375rem;
  }
  .sub_gig {
    font-size: 2rem;
  }
  .sub_mi {
    font-size: 1.3rem;
  }
  #all .flex_box {
    margin: 20px 0 70px;
  }
  #all .flex_box > .txt {
    width: 100%;
  }
  .tab_area {
    display: none;
  }
  .about_01 .t_box {
    height: auto;
  }
  .about_01 .t_box b {
    padding: 20px;
  }
  .about_01 .t_box b .none {
    display: none;
  }
  .parking01 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .process_02 .top figure {
    width: 50px;
  }
  .process_02 .cont_in.first {
    margin: 50px 0;
  }
  .process_02 .cont_in.last {
    margin: 50px 0;
  }
  .process_02 .sub_som .num {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border: 4px solid #5AA515;
  }
  .process_03 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .process_03 .tab_area {
    flex-wrap: wrap;
  }
  .process_03 .tab_area .tab-button {
    width: 110px;
    height: 110px;
    min-width: 110px;
    margin: 0 2% 2%;
  }
  .process_03 #tab1 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab2 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab3 .cont_in {
    margin: 50px 0 0;
  }
  .process_03 #tab4 .cont_in {
    margin: 50px 0 0;
  }
  .contact_01 .form_area li .place input.zipcode {
    width: 200px;
  }
  .location_01 .trafic {
    flex-direction: column;
    margin: 50px 0 0;
  }
  .location_01 .trafic .box {
    flex: 1 1 100%;
    padding: 0 0 50px 0;
    width: 100%;
  }
  .location_01 .trafic .box:after {
    content: "";
    display: flex;
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: auto;
    right: auto;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
  }
  .location_01 .trafic .box:nth-child(2):after {
    display: block;
  }
  .process_01 .dep01 li {
    padding: 20px 30px;
  }
  .process_01 .dep02 {
    display: none;
  }
  .process_01 .dep03 .month .onbox .right {
    margin: 0 0 0 30px;
  }
  .process_01 .dep03 .month .onbox.on01 .right {
    margin: 30px 0 30px 30px;
  }
  .process_01 .dep03 .month .onbox.on02 .right {
    margin: 15px 0 15px 30px;
  }
  .process_01 .dep03 .month .onbox.on03 .right {
    margin: 30px 0 30px 30px;
  }
  .location_01 .trafic figure {
    width: 100%;
    margin: 0 0 50px 0 !important;
  }
  .location_01 .trafic .box.b02 {
    padding: 0 0 50px 0;
  }
  .service_01 .table_area h3 span {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 640px) {
  .about_01 .sm_txt {
    margin: 50px 0 0;
  }
  .about_01 .sm_txt ol li .box {
    flex-direction: column;
  }
  .about_01 .sm_txt ol li i {
    margin: 0 0 20px 0;
  }
  .about_01 .sm_txt ol li .tit {
    text-align: center;
    margin: 0;
  }
  .contact_01 .form_area li {
    flex-direction: column;
  }
  .contact_01 .form_area li .tit {
    width: 100%;
    padding: 15px 5%;
  }
  .contact_01 .form_area li .place {
    width: 100%;
  }
  .contact_01 .form_area li .place input {
    margin: 15px 0;
    width: 100%;
  }
  .contact_01 .form_area li .place input.zipcode {
    margin: 15px 0;
  }
  .contact_01 .form_area li .place textarea {
    width: 100%;
    margin: 15px 0;
    height: 150px;
  }
  .ad_area {
    display: none;
  }
}
@media (max-width: 540px) {
  .about_01 .img ul {
    flex-direction: column;
  }
  .about_01 .img ul li {
    margin: 0px 0 30px 0;
  }
  .about_01 .img ul li:last-child {
    margin: 0 0;
  }
  .about_01 .img ul li:nth-of-type(2n) {
    margin: 0 0 30px 0;
  }
  .facility_01 .flex_box > .txt .title {
    padding: 0 !important;
  }
  .facility_01 .tab_box01, .facility_01 .tab_box02 {
    flex-direction: column;
  }
  .facility_01 .tab_box01 p, .facility_01 .tab_box02 p {
    width: 100%;
    justify-content: start;
    border-right: 0;
    border-bottom: 1px solid #707070;
  }
  .facility_01 .tab_box01 li a, .facility_01 .tab_box02 li a {
    display: block;
  }
  .facility_01 .tab_box01 li:nth-child(2) {
    border-right: 1px solid #707070;
  }
  .facility_01 .tab_box02 li {
    flex: 1 1 40% !important;
  }
  .facility_01 .tab_box02 li:nth-of-type(2n) {
    border-right: 0;
  }
  .facility_01 .tab_box02 li:nth-child(3), .facility_01 .tab_box02 li:nth-child(4) {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }
  .parking01 .img ul {
    flex-direction: column;
  }
  .parking01 .img ul li:first-child {
    margin: 0 0 5px 0;
  }
  .process_03 #tab1 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab2 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab3 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .process_03 #tab3 .cont_in figure.last {
    margin: 20px 0 0 !important;
  }
  .process_03 #tab4 .cont_in .top_title {
    margin: 0 0 20px 0;
  }
  .contact_01 .form_area .btn button {
    display: block;
    margin: 0 auto;
  }
  .contact_01 .form_area .btn button:first-child {
    margin: 0 auto 10px;
  }
  .process_01 .dep01 .num {
    margin: 0 0 20px 0;
  }
  .process_01 .dep01 .txt {
    text-align: center;
  }
  .process_01 .dep01 li {
    flex-direction: column;
    padding: 20px;
  }
  .process_01 .dep02 ul li {
    width: 100%;
  }
  .process_01 .dep03 {
    margin: 50px 0 0;
  }
  .process_01 .dep03 .month .onbox {
    flex-direction: column;
  }
  .process_01 .dep03 .month .onbox .left {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  .process_01 .dep03 .month .onbox .left:after {
    display: none;
  }
  .process_01 .dep03 .month .onbox.on01 .right {
    width: 90%;
    margin: 30px auto;
  }
  .process_01 .dep03 .month .onbox.on02 {
    margin: 10px 0;
  }
  .process_01 .dep03 .month .onbox.on02 .right {
    width: 90%;
    margin: 30px auto;
  }
  .process_01 .dep03 .month .onbox.on03 {
    margin: 10px 0;
  }
  .process_01 .dep03 .month .onbox.on03 .right {
    width: 90%;
    margin: 30px auto;
  }
  .process_01 .dep03 .month .onbox.on04 {
    margin: 10px 0;
  }
  .process_01 .dep03 .month .onbox.on04 .left {
    margin: 0;
  }
  .process_01 .dep03 .month .onbox.on04 .right {
    width: 90%;
    margin: 30px auto;
  }
  .process_01 .dep03 .month .onbox.on05 {
    margin: 10px 0;
  }
  .process_01 .dep03 .month .onbox.on05 .left {
    margin: 0;
  }
  .process_01 .dep03 .month .onbox.on05 .right {
    width: 90%;
    margin: 30px auto;
  }
  .process_01 .dep03 .month .onbox.on05 .right .c_top {
    margin: 20px 0;
  }
  .process_01 .dep03 .month .onbox.on05 .right .c_bottom {
    margin: 0;
  }
  .process_01 .dep03 .month .onbox.on06 .right {
    width: 90%;
    margin: 30px auto;
  }
  .location_01 .trafic .box .d_txt p.flx {
    flex-direction: column;
  }
  .location_01 .trafic .box span.done {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .service_01 .table_area table th.allone {
    width: 30%;
  }
}
@media (max-width: 480px) {
  #all .flex_box .tab_box .pc_show li {
    padding: 20px 30px;
  }
  .process_03 #tab1 .cont_in ul li {
    flex: 1 1 55%;
    margin: 0 0 20px 0;
  }
  .process_03 #tab1 .cont_in ul li:last-child {
    margin: 0;
  }
}
@media (max-width: 414px) {
  #all .flex_box .tab_box .pc_show li {
    flex: 1 1 100%;
    border-right: 0;
  }
  .location_01 .trafic .box .top {
    display: grid;
  }
  .location_01 .trafic .box span {
    margin: 0 0 10px 0;
  }
}/*# sourceMappingURL=sub.css.map */
